Temp/
Obj/
UnityGenerated/
Library/
/UnityCacheServer/Library/
.idea/
Assets/Plugins/Editor/JetBrains*

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.csproj.meta

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta